fieldset{
  margin: 0;
  border: 0;
  padding: 0;
}

input{
  border: 1px solid var(--gray4);
  font-size: 1.1rem;
}

.form{
  margin: 40px auto;
  border: 1px solid var(--gray4);
  border-radius: 0.5rem;
  padding: 1rem;
}

.form-element {
  height: 30px;
  margin-bottom: 2rem;
}

.input-element{
  display: block;
  width: 70%;
  float: right;
}

.title{
  text-align: center;
  text-transform: uppercase;
}

.radios{
  margin-bottom: 5rem;
}

.radios > label{
  display: inline-block;
  width: 90%;
}

.radios > input{
  display: inline-block;
  width: 5%;
}

.input-label, legend{
  font-weight: 600;
}

.form-element fieldset {
  border: none;
}

.btn {
  width: 49%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid var(--green);
}

.btn-primary {
  background-color: var(--green);
  color: var(--white);

}

.btn-primary:hover {
  background-color: var(--orange);
  color: var(--black);

}

.btn-secondary {

  background-color: var(--white);
  color: var(--green);

}
