.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.container p {
  text-align: left;
}

.container p::first-line {
  font-weight: bold;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
}
