body {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  background-color: var(--green);
  color: var(--white);
  display: block;
  text-decoration: none;
  padding: 25px 25px;
  float: left;
}

a:hover {
  background-color: var(--orange);
  color: var(--black);
}
