form {
  margin: 40px auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
.name label,
.password label,
.email label,
.date label {
  display: inline-block;
  margin: 10px 10px 5px 10px;
  width: 30%;
  font-weight: bold;
}

.name input,
.password input,
.email input,
.date input {
  width: 60%;
}
.radios {
  margin: 10px;
}
.radios legend {
  font-weight: bold;
}

.radios label {
  display: inline-block;
  width: 80%;
}

.radios > input {
  margin-left: 15px;
  margin-right: 10px;
}

.btn {
  margin-left: 20px;
  margin-bottom: 30px;
}

#submit {
  width: 175px;
  height: 35px;
  background-color: var(--green);
  color: var(--white);
  border: 1px solid green;
  border-radius: 5px;
}

#reset {
  width: 175px;
  height: 35px;
  background-color: var(--white);
  color: var(--green);
  border-radius: 5px;
  border: 1px solid var(--green);
}

#submit:hover {
  background-color: var(--orange);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
