.form {
  margin: 10em 10em 10em 10em;
  padding: 1em 1em 1em 1em;
}

.form-element {
  border-radius: 8px;
  outline: 1px solid black;
  width: 120%;
}

.form-element fieldset {
  border: none;
}

.btn {
  display: inline;
  padding-left: 10px;
}

.btn-primary input {
  float: left;
  width: 130px;
  height: 30px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--green);
  margin-left: 20%;
}

.btn-secondary input {
  float: center;
  width: 130px;
  height: 30px;
  background-color: var(--white);
  color: var(--green);
  border-radius: 4px;
  border: 1px solid var(--green);
  margin-left: 10px;
}
