h1 {
  text-align: center;
}
.flex-container {
  display: flex;
}

/* Code for exercise 01-flex */
.flex-container-1 {
  flex-flow: row wrap-reverse;
  justify-content: flex-end;
}
.flex-container-1 .item7 {
  order: -2;
}
.flex-container-1 .item4 {
  order: -1;
}

/* Code for exercise 02-flex */
.flex-container-2 {
  height: 400px;
  flex-flow: column-reverse wrap;
  align-content: space-evenly;
}

/* Code for exercise 03-grid */
.grid-container {
  display: grid;
  gap: 8px;
}
.grid-container-1 {
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 75px);
}
.grid-container-1 .item1 {
  grid-column: 1;
  grid-row: 3;
}
.grid-container-1 .item2 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
}
.grid-container-1 .item3 {
  grid-column: 4;
  grid-row: 3;
}
.grid-container-1 .item4 {
  grid-column: 1 / 1;
  grid-row: 4 / span 3;
}
.grid-container-1 .item5 {
  grid-column: 4 / 4;
  grid-row: 4 / span 3;
}
.grid-container-1 .item6 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 2;
}
.grid-container-1 .item7 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
.grid-container-1 .item8 {
  grid-column: 3 / span 2;
  grid-row: 7 / span 2;
}

/* Code for exercise 04-grid */
.grid-container-2 .item1 {
  grid-area: header;
}
.grid-container-2 .item2 {
  grid-area: jumbotron;
}
.grid-container-2 .item3 {
  grid-area: card1;
}
.grid-container-2 .item4 {
  grid-area: card2;
}
.grid-container-2 .item6 {
  grid-area: section;
}
.grid-container-2 .item7 {
  grid-area: footer;
}

@media (min-width: 0) and (max-width: 767px) {
  /*I did this range so that it includes everything inbetween 414px and 768px*/
  .grid-container-2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "header"
      "jumbotron"
      "jumbotron"
      "section"
      "section"
      "card1"
      "card2"
      "footer";
  }
  .grid-container-2 .item5 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container-2 {
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "header header"
      "jumbotron jumbotron"
      "jumbotron jumbotron"
      "section section"
      "section section"
      "card1 card2"
      "card1 card2"
      "footer footer";
  }
  .grid-container-2 .item5 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .grid-container-2 {
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
      "header header header"
      "jumbotron jumbotron jumbotron"
      "jumbotron jumbotron jumbotron"
      "card1 card2 card3"
      "card1 card2 card3"
      "section section section"
      "section section section"
      "section section section"
      "footer footer footer";
  }
  .grid-container-2 .item5 {
    grid-area: card3;
  }
}

/* Code for exercise 05-bootstrap-grid */
.bootstrap-grid .row > * {
  height: 100px;
  border: 1px solid var(--white);
  padding: 10px;
}

.bootstrap-grid .row:nth-child(1) > * {
  background-color: var(--purple);
}

.bootstrap-grid .row:nth-child(2) > * {
  background-color: var(--navy);
}

.bootstrap-grid .row:nth-child(2) > * {
  background-color: var(--teal);
}

.bootstrap-grid .row:nth-child(3) > * {
  background-color: var(--green);
}

/* Code for exercise 06-bootstrap-form */
